<div class="card bg-info word-details">
  <h3>Definitions for <%= @word.word %>:</h3>
  <div class="definition-list">
    <% if @definitions.any? %>
      <% @definitions.each do |definition| %>
      <div class="definition">
        <h5><%= definition.text%></h5>
      </div>
      <form action="/words/<%= @word.id %>/definitions/<%= definition.id %>/update" method="get">
        <button type="submit" class="btn word-btn">UPDATE</button>
      </form>
      <form action="/words/<%= @word.id %>/definitions/<%= definition.id %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit" class="btn word-btn">DELETE</button>
      </form>
      <% end %>
    <% else %>
    <p>There are currently no definitions to display.</p>
    <% end %>
  </div>
  <div class="card bg-secondary add-word">
    <a href="/words/<%= @word.id %>/definitions/new"><h3>ADD A NEW DEFINITION!</h3></a>
  </div>
  <div class="card bg-secondary add-word">
    <a href="/words"><h3>BACK TO ALL THE WORDS!</h3></a>
  </div>
</div>
