<div class="card bg-info words">
  <h3>Your words:</h3>
  <div class="words-list">
    <% if @words.any? %>
      <% @words.each do |word| %>
        <div class="word">
          <a href="/words/<%= word.id %>"><h2><%= word.word%></h2></a>
        </div>
        <form action="/words/<%= word.id %>/update" method="get">
          <button type="submit" class="btn word-btn" id="update<%= word.word%>">UPDATE</button>
        </form>
        <form action="/words/<%= word.id %>" method="post">
          <input name="_method" type="hidden" value="delete">
          <button type="submit" class="btn word-btn" id="delete<%= word.word%>">DELETE</button>
        </form>
      <% end %>
    <% else %>
    <p>There are currently no words to display.</p>
    <% end %>
  </div>
  <div class="card bg-secondary add-word">
    <a href="/words/new"><h3>ADD A NEW WORD!</h3></a>
  </div>
</div>
